*{
    font-family: century;
    color: rgb(116, 61, 79);
    box-sizing: border-box;
}
body{
background-image: url(images/R\ \(2\).jpg);
background-size: cover;
}   
#Home{
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 280px;
    padding-left: 500px;
    height: 750px;
    background-image: url(images/mep-removebg-preview.png);
    
}
.perInfo{
    font-weight: bolder;
}
.center{
    height: 40px;
    width: 60px;
    position: relative;
    top: 4px;
}
#aboutMe{
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(212, 167, 167);
    margin: 90px;
}
.abouttxt{
    padding-top: 200px;
    
}
#Qual{
   
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: 300px 300px;
        gap: 20px;
        background-color: rgb(212, 167, 167);
    margin: 90px;
        height: 750px;
    }
    .qImg{
            grid-area: 1 / 1 / span 2 / span 1;
            position: relative;
            top: 90px;
    }
    #Coding{
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: 300px 300px;
        gap: 20px;
        height: 750px;
        background-color: rgb(212, 167, 167);
    margin: 90px;
    }
    .codeImg{
        position: relative;
        top: 90px;
        grid-area: 1 / 1 / span 2 / span 1;
      
    }
    #Ref{
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: 200px 200px;
        gap: 20px;
        height: 600px;
        padding-top: 100px;
        background-color: rgb(212, 167, 167);
    margin: 90px;
       }
       .refImg{
          
           position: relative;
           top: 20px;
           grid-area: 1 / 1 / span 2 / span 1;
           
       }
       #Skills{
        display: grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: 200px 200px 200px;
        gap: 20px;
        height: 750px;
        background-color: rgb(212, 167, 167);
    margin: 90px;
    }
    .img{
        position: relative;
        top: 120px;
        grid-area: 1 / 1 / span 3 / span 1;
       
    }
    .tech{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .soft{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .lang{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .checked {
        color: orange;
      }
      #footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10px;
        width: 100%;
        background-color:  rgb(116, 61, 79);
        color: antiquewhite;
        height: 40px;
      }
      @media screen and (max-width: 479px){
#Home{
    width: 700px;
    background-image: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
}
.myImg{
    background-image: url(images/mep-removebg-preview.png);
    background-repeat: no-repeat;
    width: 700px;
    height: 500px;
}
#aboutMe{
    width: 700px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    margin: 20px;
}
.aboutImg{
    width: 350px;
    height: 300px;
}
#Qual{
    margin: 20px;
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.qImg{
    position: relative;
    top: 0px;
    width: 400px;
    height: 300px;  
}
.Exp{
    width: 400px;
    margin-top: 30px;
}
#Coding{
    margin: 20px;
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.codeImg{
    position: relative;
    top: 0px;
    width: 400px;
    height: 300px;  
}
#Ref{
    margin: 20px;
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.refImg{
    position: relative;
    top: 0px;
    width: 400px;
    height: 300px;  
}
.cHala{
    margin-top: 80px;
}
#Skills{
    margin: 20px;
    width: 700px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.tech{
    margin-top: 80px;
}
#footer{
    width: 700px;
}
}
      
      @media screen and (min-width: 480px) and (max-width: 768px)
{ 
    #Home{
        width: 1500px;
        height: 700px;
        background-image: none;
        display: flex;
        padding: 0px;
    }
    .myImg{
        background-image: url(images/mep-removebg-preview.png);
        background-repeat: no-repeat;
        width: 600px;
        height: 500px;
    }
    .perInfo{
        padding-top: 200px;
    }
    #aboutMe{
        width: 900px;
        flex-direction: column;
        flex-wrap: wrap;
        height: 800px;
        margin: 20px;
    }
    .aboutImg{
        width: 350px;
        height: 300px;
    }
    #Qual{
        margin: 20px;
        width: 900px;
        height: 900px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .qImg{
        position: relative;
        top: 0px;
        width: 400px;
        height: 300px;  
    }
    .Exp{
      
        margin-top: 30px;
    }
    #Coding{
        margin: 20px;
        width: 900px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .codingImg{
        position: relative;
        top: 0px;
        width: 400px;
        height: 300px;  
    }
    #Ref{
        margin: 20px;
        width: 900px;
        height: 900px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .refImg{
        position: relative;
        top: 0px;
        width: 400px;
        height: 300px;  
    }
    .cHala{
        padding-top: 80px;
    }
    #Skills{
        margin: 20px;
        width: 900px;
        height: 1400px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tech{
        margin-top: 80px;
    }
    #footer{
        width: 900px;
    }
}